@page "/blocks"
@using CP380_B1_BlockList.Models
@using CP380_B3_BlockBlazor.Data
@inject BlockService _services
<!-- TODO: Add using and inject statements -->

<h3>Blocks</h3>

@if (Blocklist == null)
{
    <p><em>Loading...</em></p>
}
else
{ var POSITION = 1;
    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Hash</th>
                <th>Nonce</th>
                <th>Previous hash</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var det in Blocklist)
            {

                <tr>
                    <td>@POSITION</td>
                    <td> @det.Hash</td>
                    <td> @det.Nonce</td>
                    <td> @det.PreviousHash</td>
                </tr>


                POSITION++;
            }
        </tbody>
        <!-- TODO: Add cards for each block in the block list

                 Each card should show:
                      - the position in the chain (starting at 0)
                      - the hash
                      - the nonce
                      - the previous hash
        -->
    </table>

}

@code {
    IEnumerable<CP380_B1_BlockList.Models.Block> Blocklist;

    protected override async Task OnInitializedAsync()
    {
        Blocklist = await _services.Get();
    }
}
